<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
<footer>
    <div class="container">
        <div class="ftr">
            <h3>Sunday Service Time</h3>
            <ul class="content1">
                <li>Cantonese Morning Worship  8:30am</li>
                <li>Cantonese Afternoon Worship 11:30am</li>
                <li>Mandarin Worship
                    11:30am</li>
                <li>Children Worship 10:00am</li>
                <li>English Worship 10:00am</li>
                <li>Cantonese Sunday School 10:00am</li>
                <li>Mandarin Sunday School 10:00am</li>
                <li>Children's Sunday School 11:30am</li>
                <li>English Sunday School 11:45am</li>
            </ul>
        </div>
        <div class="ftr">
            <h3>Latest Sermons</h3>
            <ul class="content2">
            <p>Date: 2020-03-15<br>Speaker: Pastor Sky Choi<br>Message: Be opened</a><br /></p>
            <p><a href="https://pmpgmbc.ca/eng/sermons">Listen sermons</a></p>
            <h3>Latest News</h3>
            <p>Mar 23, 2019 - 4/6: 如何向家人傳福音<br>Mar 23, 2019 - 4/19: Joint Good Friday Service<br>Mar 23, 2019 - 3/30/2019: Special Afternoon Service</a><br /></p>
            <p><a href="https://pmpgmbc.ca/eng/news">Read news</a></p>
        </ul>
        </div>
        <div class="ftr">
            <h3>Contact</h3>
            <ul class="content3">
                <p>2622 St. Johns Street<br>
                    Port Moody, BC
                    V3H 2B6<br>
                    Canada</p>
                <p>Office #: (604) 939-8281</a><br /></p>
                <p>Office: <a href="mailto:info@pmpgmbc.ca">info@pmpgmbc.ca</a><br /></p>
                <h3>Stay Connected</h3>
                <p><a href="https://www.facebook.com/pmpgmbc">Facebook</a></p>
            </ul>
        </div>


    </div>
</footer>