<div class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.7);"> 
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav-fill w-100" id="navBtns">
                <li class="nav-item <%if(active=="home"){%>active<%}%>" >
                    <a class="nav-link" href="/"><strong>Home</strong></a>
                </li>
                <li class="nav-item <%if(active=="sermons"){%>active<%}%>" >
                    <a class="nav-link" href="#"><strong>All Sermons</strong></a>
                </li>
                <li class="nav-item <%if(active=="notes"){%>active<%}%>" >
                    <a class="nav-link" href="/notes"><strong>My Notes</strong></a>
                </li>
                <li class="nav-item <%if(active=="donation"){%>active<%}%>" >
                    <a class="nav-link" href="/donation"><strong>Donation</strong></a>
                </li>
                <li class="nav-item <%if(active=="meeting"){%>active<%}%>" >
                    <a class="nav-link" href=zoom><strong>Zoom Meeting</strong></a>
                </li>
            </ul>
        </div>
    </nav>
</div>