<!DOCTYPE html> 
<html> 
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body>
        
        <%- include('./partials/navbar', {active: "Admin"}); %>

        Hello Admin!

    </body>








</html>