<!DOCTYPE html> 
<html> 
    <head>
        <%- include('./partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/admin/admin.css">
        <script src="/admin/admin.js" charset="UTF-8"></script>
    </head>

    <body>
        
        <%- include('./partials/navbar', {active: "Admin"}); %>
        <div id="table", class="row px-4 mx-2" style="text-align:center;">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.7); padding: 15px;">
                <table id="user_table" width="600" border="1" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr> 
                    </thead>
                    <tbody ></tbody>
                </table>
            </div>
        </div>
        
            
            


    </body>








</html>