<!DOCTYPE html> 
<html> 
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body>    
        <%- include('./partials/navbar', {active: "notes"}); %>


        <div class="donate_box">
            <div class="donate_content">
                <h4 class="donate_title">Thank you for your contribution</h1>


            </div>



        </div>
    </body>








</html>