<!DOCTYPE html> 
<html> 
    <head>
        <%- include('./partials/head'); %>
        <link rel="stylesheet" href="/donation.css" type="text/css">
        <link rel="stylesheet" href="/footer.css">
    </head>

    <body>    
        <%- include('./partials/navbar', {active: "donation"}); %>


        <div class="donate_box">
            <div class="donate_content">
                <h4 class="donate_title">Thank you for your contribution</h1>

                <img src="/heart.png"/>

                <form id="donate_form" action="/donation/donate" method="POST">
                    	<!--
			<div class="form-group">
                        <label for="fName">First Name</label>
                        <input type="text" class="form-control" id="donate_form_fname" name="donate_form_fname">
                    </div>

                    <div class="form-group">
                        <label for="lName">Last Name</label>
                        <input type="text" class="form-control" id="donate_form_lname" name="donate_form_lname">
                    </div>

                    <div class="form-group">
                        <label for="lName">Amount</label>
                        <input type="text" class="form-control" id="donate_form_amount" name="donate_form_amount">
                    </div>
			-->
                </form>

                <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="6L3MQWPDJX5ZL" />
                    <input type="hidden" name="currency_code" value="CAD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="paypal_button" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                </form>

            </div>



        </div>
    </body>






    <%- include('./partials/footer'); %>

</html>
