<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>

        <%- include('./partials/navbar', {active: "home", userId: userId}); %>

        
        <div class="text-center h-100" style="padding-top: 12%; font-size: 10em;">
            Welcome
        </div>
    </body>
</html>