<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
        <script src="/index.js" charset="UTF-8"></script>
    </head>
    <body>
        
        <%- include('./partials/navbar', {active: "home"}); %>

        <div class="text-center h-100" style="padding-top: 12%; font-size: 10em;">
            Welcome
        </div>
    </body>
</html>