<html>
	<head>
		<%- include('./partials/head'); %>

		<script src="/login/login.js" charset="UTF-8"></script>
	</head>
	<body>
		<%- include('./partials/navbar', {active: "login"}); %>
		
		<h1>Login</h1>
		<form action = "/login/loginUser" method = "post">
			<div>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" required></input>
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" required></input>
			</div>
			<button type="submit">Login</button>
		</form>
		<a href="/register">Register</a>
	</body>
</html>




