<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
        <script src="/meeting/meeting.js" charset="UTF-8"></script>
    </head>
    <body>
        <%- include('./partials/navbar', {active: "meeting"}); %>
        


        <fieldset class="zoomFil">
            <legend>ZOOM</legend>
            

            
                <div class="joinMeeting">
                <button id='joinButt'onclick="window.open('https://us04web.zoom.us/join')"   >Join a Meeting</button><br />
                </div>
            

           
                <div class="HostMeeting">
                <button id='hostButt'onclick="window.open('https://zoom.us/signin')"   >Hoin a Meeting</button><br />
                </div>
       
        </fieldset>
    </body>
</html>
