<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/notes/notes.css">
        <script src="/notes/notes.js" charset="UTF-8"></script>
    </head>
    <body>

        <%- include('./partials/navbar', {active: "notes"}); %>

        <div class="row px-4 mx-2">
            <div class="card col-5 p-2" style="background-color: rgba(255, 255, 255, 0.7);">
                <h5 class="card-title">
                    Add Notes
                </h5>
                <form id="add_note_form" action='/notes/add_note' method="POST">
                    <div class="form-group">
                      <label for="noteTitle">Title</label>
                      <input type="text" class="form-control" id="add_node_title" name="add_node_title" placeholder="Title of the Note" required>
                    </div>
                    <div class="form-group">
                      <label for="noteContent">Content</label>
                      <textarea class="form-control" id="add_node_content" name="add_node_content" rows="20"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
                  </form>
            </div>
            <div class="col-1"> </div>
            <div class="card col-6 scroll" style="background-color: rgba(255, 255, 255, 0.7);" id="notes_table">
                <h4 class="card-title pt-2">All My Notes</h4>
            </div>

            <form id="delete_note_form" action="" method="POST"></form>

            <div class="card form-popup" id="update_note_container">
                <form id="update_note_form" action="" class="form-container" method="POST">
                    <h1>Update Note</h1>
                    <div class="form-group">
                        <label for="update_note_title"><b>Title</b></label>
                        <input class="form-control" type="text" id="update_note_title" name="update_note_title" required />
                    </div>
                    <div class="form-group">
                        <label for="update_note_content"><b>Content</b></label>
                        <textarea class="form-control" type="text" id="update_note_content" name="update_note_content" rows="15"></textarea>
                    </div>
                    <button id="close_update_note_btn" type="button" class="btn btn-secondary float-right m-2">Close</button>
                    <button id="update_note_btn" type="submit" class="btn btn-secondary float-right m-2">Update</button>
                </form>
            </div>
        </div>
    </body>
</html>
