<!DOCTYPE HTML>
<html lang = "en">

<!-- Reference: https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <head>
        <%- include('./partials/head'); %>
        <link rel="stylesheet" href="/sermons.css">
        <script src="/sermons/sermons.js" charset="UTF-8"></script>
    </head>
    <body>

        <%- include('./partials/navbar', {active: "sermons"}); %>

    <div id="Recordings">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.7);">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav nav-fill w-100" id="sermonNavBtns">
                    <li class="nav-item active" id="allSermonNav" onclick="activeAllSermons()">
                        <a id="allSermonBtn" class="nav-link" href="#"><strong>Available Sermon Recordings</strong></a>
                    </li>
                    <li class="nav-item" id="sermonNoteNav" onclick="activeSermonsNote()">
                        <a id="sermonNoteBtn" class="nav-link" href="#"><strong>Sermons with Notes</strong></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div class="content">
            <h4 class="title">Available Sermon Recordings</h4>
        </div> -->
        <div class="sub_recording" id="subRecording">
                <iframe src="https://drive.google.com/embeddedfolderview?id=1vtZtC7WWB0aj8qz78EFK1l19vB2bvMt4#grid" style="width:100%; height:1000px; "></iframe>

        </div>

        <div id="sermonsNotes">
            hello world
        </div>
    </div>



    </body>
    
</html>