<!DOCTYPE html> 
<html> 
    <head>
        <%- include('./partials/head'); %>
        <meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
		<meta name="viewport"content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="staff_info.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>

    <body>
        <%- include('./partials/navbar', {active: "staff_info"}); %>
		<div class="contact-wrap">
			<div class="table-in">
				<h1>Staff Info</h1>
				<table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">English Name</th>
                        <th scope="col">Chinese Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Rev. Isaac Man</td>
                        <td>萬得康 牧師</td>
                        <td>Interim Lead Pastor</td>
                        <td><a href="mailto:isaac.man@pmpgmbc.ca">isaac.man@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Rev. Paul Leung</td>
                        <td>梁耀年 牧師</td>
                        <td>Cantonese Ministry Pastor</td>
                        <td><a href="mailto:paul.leung@pmpgmbc.ca">paul.leung@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Pastor Horace Fan</td>
                        <td>范新鴻 傳道</td>
                        <td>Chinese Ministry Pastor</td>
                        <td><a href="mailto:  horace.fan@pmpgmbc.ca"> horace.fan@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Pastor Jason Lam</td>
                        <td>林浩鏘 傳道</td>
                        <td>English and Cantonese Pastor</td>
                        <td><a href="mailto:jason.lam@pmpgmbc.ca"> jason.lam@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Kevin Chan</td>
                        <td>陳晉坤</td>
                        <td>English Youth Intern (Part-time)</td>
                        <td><a href="mailto:kevin.chan@pmpgmbc.ca">kevin.chan@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Pastor Jenny Leung</td>
                        <td>梁崇欣 傳道	</td>
                        <td>Children Pastor	</td>
                        <td><a href="mailto:jenny.leung@pmpgmbc.ca">jenny.leung@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>David Fung</td>
                        <td>馮均樂</td>
                        <td>Church Administrative Assistant (Part-time)	</td>
                        <td><a href="mailto:david.fung@pmpgmbc.ca">david.fung@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Queenie Chung</td>
                        <td>鍾劉坤儀</td>
                        <td>Chinese School Principal (Part-time)</td>
                        <td><a href="queenie.lau@pmpgmbc.ca">queenie.lau@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Pastor Sky Choi	</td>
                        <td>崔光恩 傳道</td>
                        <td>English Ministry Pastor</td>
                        <td><a href="mailto:sky.choi@pmpgmbc.ca">sky.choi@pmpgmbc.ca</a></td>
                      </tr>			
                      <tr>
                        <td>Rana Chui</td>
                        <td>崔惠卿</td>
                        <td>Church Administrator</td>
                        <td><a href="mailto:rana.chui@pmpgmbc.ca"> rana.chui@pmpgmbc.ca</a></td>
                      </tr>
                      <tr>
                        <td>Webmaster</td>
                        <td>網管</td>
                        <td></td>
                        <td><a href="mailto:webmaster@pmpgmbc.ca">webmaster@pmpgmbc.ca</a></td>
                      </tr>

                    </tbody>
                  </table>
			</div>
			
		</div>
	</body>
</html>