<!DOCTYPE html> 
<html> 
    <head>
        <%- include('./partials/head'); %>
        <meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
		<meta name="viewport"content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>CSS Responsive Contact Form With Google Map</title>
    <link rel="stylesheet" href="staff_info.css">
    <link rel="stylesheet" href="/footer.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>

    <body>
        <%- include('./partials/navbar', {active: "staff_info"}); %>
		<div class="contact-wrap">
			<div class="table-in">
				<h1>Staff Info</h1>
				<table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">English Name</th>
                        <th scope="col">Chinese Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Rev. Isaac Man</td>
                        <td>萬得康 牧師</td>
                        <td>Interim Lead Pastor</td>
                        <td>isaac.man@pmpgmbc.ca</td>
                      </tr>
                      <tr>
                        <td>Rev. Paul Leung</td>
                        <td>梁耀年 牧師</td>
                        <td>Cantonese Ministry Pastor</td>
                        <td>paul.leung@pmpgmbc.ca</td>
                      </tr>
                      <tr>
                        <td>Pastor Horace Fan</td>
                        <td>范新鴻 傳道</td>
                        <td>Chinese Ministry Pastor</td>
                        <td>horace.fan@pmpgmbc.ca</td>
                      </tr>
                      <tr>
                        <td>Pastor Jason Lam</td>
                        <td>林浩鏘 傳道</td>
                        <td>English and Cantonese Pastor</td>
                        <td>jason.lam@pmpgmbc.ca</td>
                      </tr>
                      <tr>
                        <td>Rana Chui</td>
                        <td>崔惠卿</td>
                        <td>Church Administrator</td>
                        <td>rana.chui@pmpgmbc.ca</td>
                      </tr>
                      <tr>
                        <td>Pastor Sky Choi	</td>
                        <td>崔光恩 傳道</td>
                        <td>English Ministry Pastor</td>
                        <td>sky.choi@pmpgmbc.ca</td>
                      </tr>
                    </tbody>
                  </table>
			</div>
			
    </div>
    <%- include('./partials/footer'); %>
	</body>








</html>