body {
    background-image: url('/bg_img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.scroll {
    max-height: 750px;
    overflow-y: auto;
}


#Recordings{
    margin:50px auto;
    height:1200px;        
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px; 
  }

  .content h4 {
    text-align: center;
  }

#Recordings iframe{
	background-color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0px;
	padding: 0px;
	font-family: 'Chivo', sans-serif;
	font-size: 12pt;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 5%;
  width: 50%;
  margin-left: 40%;
  border: 3px solid #f1f1f1;
  z-index: 15;
  box-shadow: 4px 4px 8px #838282;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


